parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setInputFile\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Phpstan\\\\Task\\\\AnalyzeTask\\:\\:setNoProgress\\(\\)\\.$#"
			count: 1
			path: ../RoboFile.php
